@use '../helpers' as *;

.header {
  width: 100%;
  position: sticky;
  top: fluid-to-laptop(50, 40);
  color: var(--font-color);
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    background-color: var(--header-background-color-blur);
    border-radius: 100px;
    padding: fluid-to-laptop(20, 10);
    backdrop-filter: blur(10px);

    @include mobile {
      backdrop-filter: none;
    }
  }

  &__logo {
    border-radius: 50%;

    @include hover {
      box-shadow: var(--shadow);
    }

    width: fluid-to-laptop(60, 50);
  }

  &__menu {
    @include mobile {
      @include flex-center;
      
      position: fixed;
      inset: 0;
      translate: 0 -100%;
      width: 100vw;
      height: 100vh;
      z-index: 101;
      background-color: var(--header-background-color);
      transition-duration: var(--transition-duration-long);

      &.is-open {
        translate: 0;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      padding: 5px;
      column-gap: 5px;
      border: 2px solid var(--font-color);
      border-radius: 100px;

      @include mobile {
        flex-direction: column;
        padding: 0;
        row-gap: 20px;
        border: none;
      }
    }

    &-item {
      border-radius: 100px;
      cursor: pointer;

      @include hover {
        color: var(--color-light);
      }

      &.is-active {
        background-color: var(--font-color);
        color: var(--blocks-color);
        pointer-events: none;
      }
    }

    &-link {
      padding: fluid-to-laptop(14, 10) 24px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 10px;

    button {
      @include hover {
        box-shadow: var(--shadow);
      }

      padding: 5px;
    }
  }

  &__search-button {
    background: transparent;
    border: 2px solid var(--font-color);
    border-radius: 50%;

    &-icon {
      padding: fluid-to-laptop(15, 10);
      background-color: var(--font-color);
      border-radius: 50%;
      transition-duration: var(--transition-duration);
      color: var(--header-background-color);

      @include flex-center;

      svg circle {
        fill: transparent;
        // stroke: red;
      }

      svg {
        @include flex-center;

        max-width: 21px;
        max-height: 21px;
      }
    }
  }

  &__search-field {
    @include abs-x;

    top: 0;
    border: 2px solid var(--font-color);
    background-color: var(--blocks-color);
    padding: fluid-to-laptop(16, 14) 10px;
    font-size: fluid-to-laptop(16, 14);
    font-weight: 500;
    color: var(--color-light);
    border-radius: 100px;
    width: 100%;
    max-width: 300px;
    z-index: -2;
    opacity: 0;
    transition-duration: var(--transition-duration-long);

    &.is-active {
      opacity: 1;
      top: calc(100% + 20px);
    }

    &:focus-visible {
      outline: none;
    }

    &:focus {
      box-shadow: var(--shadow);
    }
  }

  &__switch-theme-button {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: transparent;
    border: 2px solid var(--font-color);

    &::before {
      @include abs-y;
      @include square(fluid-to-laptop(50, 40));

      content: '';
      right: 5px;
      background-color: var(--font-color);
      border-radius: 50%;
      transition-duration: var(--transition-duration);
    }

    .sun,
    .moon {
      @include flex-center;

      padding: fluid-to-laptop(10, 7.5);
      border-radius: 50%;
      color: transparent;
      z-index: 0;

      svg,
      svg * {
        stroke: var(--font-color);
      }

      svg {
        @include square(fluid-to-laptop(30, 25));
      }
    }

    .moon {
      svg,
      svg * {
        stroke: var(--header-background-color);
      }
    }

    &.is-active {
      &::before {
        translate: -100% -50%;
      }

      .sun {
        svg,
        svg * {
          stroke: var(--header-background-color);
        }
      }

      .moon {
        svg,
        svg * {
          stroke: var(--font-color);
        }
      }
    }
  }
}
