@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroing-color);
  transition-duration: var(--transition-duration);
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1;
}

main {
  flex-grow: 1;
}

.main-section__title {
  color: var(--color-gray-15);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(48, 44);

  line-height: 1;
}

h2,
.h2 {
  @include fluid-text(58, 28);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);
}

a,
button,
input,
textarea,
label,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rems(2) dashed var(--color-light);
  outline-offset: rems(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rems(44));

      content: '';
    }
  }
}
